
<form action="/atendimento"> 
    <h3>Atendimento cadastrado com sucesso:  {{idcliente}} / {{id_atendente}} / {{dataAtendimento}} / {{descricao_atendimento}} </h3>
    <input type="submit" value="voltar ao atendimento">
    <input type="submit" formaction="/" value="voltar ao menu inicial " name="btConsultar">
</form>

