<!DOCTYPE html>
<html lang="en">
<head> 
    <title> Cadastro de atendimento</title>
</head>


<body>
     
 <h1> CADASTRO DE ATENDIMENTO</h1>

<form name="firebase" action="/atendimento" method="POST">
    <p>CPF Cliente: <input type="text" name="cpfCliente"> </p>
    <p>Data: <input type="date" name="dataAtendimento"> </p>
    <p>Cod Atendente: <input type="text" name="idAtendente"> </p>
    <p>Descrição do atendimento: <input type="textarea" name="descricaoAtendimento" size="40"> </p>
       
       <p>

        <input type="submit" formaction="/registraratendimento" value="cadastrar" name="btCadastrar"></br></br>
        <a href="/"style="color: #FFFFFF">MENU INICIAL!
       </p>

</form>
</body>
</html>
