<!DOCTYPE html>
<html lang="en">
<head> 
    <title> Cadastro de Fornecedores</title>
</head>


<body>
     
 <h1> CADASTRO DE FORNECEDORES</h1>

<form name="firebase" action="/cadastrofornecedor" method="POST">
    <p>CNPJ FORNECEDOR: <input type="text" name="cnpjFornecedor"> </p>
    <p>NOME DO FORNECEDOR: <input type="text" name="nome"> </p>
    <p>RAZÃO SOCIAL: <input type="text" name="razaoSocial"> </p>
    <p>TELEFONE: <input type="text" name="telefone"> </p>
      <p>
        <input type="submit" formaction="/cadastrofornecedor" value="cadastrar" name="btCadastrar"></br></br>
        <a href="/"style="color: #FFFFFF">MENU INICIAL!
       </p>

</form>
</body>
</html>
