<form action="/cadastrofornecedor"> 
    <h3>Fornecedor cadastrado com sucesso:  {{cnpjFornecedor}} / {{nome}} / {{razaoSocial}} / {{telefone}} </h3>
    <input type="submit" value="voltar ao cadastro de fornecedor">
    <input type="submit" formaction="/" value="voltar ao menu inicial " name="btConsultar">
</form>