<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro de compras</title>
</head>
<body>
   
   <h1>CADASTRO DE COMPRAS DE FORNECEDORES</h1>
   <form name="firebase" method="POST">
    <p>CNPJ FORNECEDOR: <input type="text" name="cnpjFornecedor"> </p>
    <p>DATA DA COMPRA: <input type="date" name="data"> </p>
    <p>ID PRODUTO: <input type="text" name="idproduto"> </p>
    <p>QUANTIDADE: <input type="text" name="quantidade"> </p>
    <p>VALOR UNITÁRIO: <input type="text" name="valorUnitario"> </p>
    <p>
        <input type="submit" formaction="/cadastrarcompras" value="cadastrar" name="btCadastrar"></br></br>
        <a href="/"style="color: #FFFFFF">MENU INICIAL!
    
    </p>
</form>
    
</body>
</html>