</head>
<body>
   
   <h1>CONSULTA DE CLIENTES</h1>
   
   <form name="firebase" method="POST">

    <p>CPF Cliente: <input type="text" name="cpfCliente"> </p>
    
    <p>
        <input type="submit" formaction="/consulta" value="consultar" name="btCadastrar"></br></br>
        <a href="/"style="color: #FFFFFF">CADASTRAR NOVO CLIENTE!
    </p>
    
</form>
    
</body>
</html>