<form action="/"> 
    <h3>Cliente cadastrado com sucesso: {{nome}} / {{cpf}} / {{telefone}}</h3>
    <input type="submit" value="voltar">
    <input type="submit" formaction="/" value="voltar ao menu inicial " name="btConsultar">
</form>