<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
</head>
<body>
   
   <h1>CADASTRO DE CLIENTES</h1>
   
   <form name="firebase" method="POST">
    <p>Nome Cliente: <input type="text" name="nomeCliente"> </p>
    <p>CPF Cliente: <input type="text" name="cpfCliente"> </p>
    <p>Telefone Cliente: <input type="text" name="telCliente"> </p>
    <p>
        <input type="submit" formaction="/cadastrar" value="cadastrar" name="btCadastrar"></br></br>
        
    </p>
    
</form>
    
</body>
</html>