<form action="/servicos"> 
    <h3>serviço cadastrado com sucesso:  "Tamanho do animal = {{tamanho}} " / "teve banho = {{banho}} " / "teve tosa = {{tosa}} " </h3>
    <input type="submit" value="voltar a serviço">
  <input type="submit" formaction="/" value="voltar ao menu inicial " name="btConsultar">
</form>