<!DOCTYPE html>
<html>
<body>

</br>


<a href="atendimento"style="color: #FFFFFF">ATENDIMENTO</br></br>
<a href="vendas"style="color: #FFFFFF">VENDAS</br></br>
<a href="compras"style="color: #FFFFFF">COMPRAS</br></br>
<a href="servicos"style="color: #FFFFFF">BANHO E TOSA</br></br>
<a href="cadastrofornecedor"style="color: #FFFFFF">CADASTRO DE FORNECEDORES</br></br>
<a href="/"style="color: #FFFFFF">CADASTRO E CONSULTA DE CLIENTES</br></br>


</body>
</html>